@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cq2bhi');
  src:  url('fonts/icomoon.eot?cq2bhi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cq2bhi') format('truetype'),
    url('fonts/icomoon.woff?cq2bhi') format('woff'),
    url('fonts/icomoon.svg?cq2bhi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cel:before {
  content: "\e901";
}
.icon-perfil:before {
  content: "\e902";
}
.icon-shopping:before {
  content: "\e903";
}
.icon-Sin-tiÌtulo-1-04:before {
  content: "\e904";
  color: #878d4a;
}
.icon-next:before {
  content: "\e905";
  color: #a9adb2;
}
.icon-prev:before {
  content: "\e906";
  color: #a9adb2;
}
.icon-play:before {
  content: "\e907";
}
.icon-comillas:before {
  content: "\e908";
  color: #6c777f;
}
.icon-like:before {
  content: "\e909";
}
.icon-mensaje:before {
  content: "\e90a";
}
.icon-arrow-2:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
  color: #6c777f;
}
.icon-instagram:before {
  content: "\e90d";
  color: #6c777f;
}
.icon-pinterest:before {
  content: "\e90e";
  color: #6c777f;
}
.icon-twitter:before {
  content: "\e90f";
  color: #6c777f;
}
.icon-facebook-2:before {
  content: "\e910";
  color: #6c777f;
}
.icon-logo:before {
  content: "\e911";
  color: #6c777f;
}
.icon-juguete-1:before {
  content: "\e912";
}
.icon-juguete-2:before {
  content: "\e913";
  color: #bcc1c4;
}
.icon-juguete-3:before {
  content: "\e914";
  color: #bcc1c4;
}
.icon-juguete-4:before {
  content: "\e915";
  color: #bcc1c4;
}
.icon-juguete-5:before {
  content: "\e916";
  color: #bcc1c4;
}
.icon-cajas:before {
  content: "\e917";
  color: #bcc1c4;
}
.icon-escudo:before {
  content: "\e918";
  color: #bcc1c4;
}
.icon-medalla:before {
  content: "\e919";
  color: #bcc1c4;
}
.icon-comillas-2:before {
  content: "\e91a";
  color: #a9adb2;
}
.icon-mas:before {
  content: "\e91b";
  color: #a9adb2;
}
.icon-eliminar:before {
  content: "\e91c";
  color: #a9adb2;
}
.icon-libro:before {
  content: "\e900";
}
.icon-search-2:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
