@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sgroa0');
  src:  url('../fonts/icomoon.eot?sgroa0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sgroa0') format('truetype'),
    url('../fonts/icomoon.woff?sgroa0') format('woff'),
    url('../fonts/icomoon.svg?sgroa0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e948";
}
.icon-mas:before {
  content: "\e946";
}
.icon-menos:before {
  content: "\e947";
}
.icon-alarmas:before {
  content: "\e900";
}
.icon-baño2:before {
  content: "\e901";
}
.icon-buscar:before {
  content: "\e902";
}
.icon-cables:before {
  content: "\e903";
}
.icon-cctv:before {
  content: "\e904";
}
.icon-cercos-electricos:before {
  content: "\e905";
}
.icon-control:before {
  content: "\e906";
}
.icon-disco .path1:before {
  content: "\e910";
  color: rgb(231, 43, 30);
}
.icon-disco .path2:before {
  content: "\e911";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path3:before {
  content: "\e912";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path4:before {
  content: "\e913";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path5:before {
  content: "\e914";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path6:before {
  content: "\e915";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path7:before {
  content: "\e916";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path8:before {
  content: "\e917";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path9:before {
  content: "\e918";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path10:before {
  content: "\e919";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path11:before {
  content: "\e91a";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path12:before {
  content: "\e91b";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path13:before {
  content: "\e91c";
  margin-left: -1.017578125em;
  color: rgb(231, 43, 30);
}
.icon-disco .path14:before {
  content: "\e91d";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path15:before {
  content: "\e91e";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path16:before {
  content: "\e91f";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path17:before {
  content: "\e920";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path18:before {
  content: "\e921";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path19:before {
  content: "\e922";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path20:before {
  content: "\e923";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path21:before {
  content: "\e924";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path22:before {
  content: "\e925";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path23:before {
  content: "\e926";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path24:before {
  content: "\e927";
  margin-left: -1.017578125em;
  color: rgb(231, 43, 30);
}
.icon-disco .path25:before {
  content: "\e928";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path26:before {
  content: "\e929";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path27:before {
  content: "\e92a";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path28:before {
  content: "\e92b";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path29:before {
  content: "\e92c";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path30:before {
  content: "\e92d";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path31:before {
  content: "\e92e";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path32:before {
  content: "\e92f";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path33:before {
  content: "\e930";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-disco .path34:before {
  content: "\e931";
  margin-left: -1.017578125em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path1:before {
  content: "\e932";
  color: rgb(133, 135, 137);
}
.icon-educacion .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(222, 0, 0);
}
.icon-educacion .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path8:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path9:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path10:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-educacion .path11:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-facebook:before {
  content: "\e93d";
}
.icon-flecha-derecha:before {
  content: "\e93e";
}
.icon-flechaizquierda:before {
  content: "\e93f";
}
.icon-iluminacion:before {
  content: "\e940";
}
.icon-incendio:before {
  content: "\e907";
}
.icon-lente .path1:before {
  content: "\e908";
  color: rgb(133, 135, 137);
}
.icon-lente .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(133, 135, 137);
}
.icon-lente .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(231, 43, 30);
}
.icon-mensaje:before {
  content: "\e90b";
}
.icon-precios:before {
  content: "\e90c";
}
.icon-redes:before {
  content: "\e90d";
}
.icon-tel:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-ubicacion:before {
  content: "\e941";
}
.icon-video:before {
  content: "\e942";
}
.icon-wts:before {
  content: "\e943";
}
.icon-youtube:before {
  content: "\e944";
}
.icon-youtube2:before {
  content: "\e945";
}
