extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header-oculto'
//- ---

//- Contenido
block content
	section.error__contruccion
		.error__contruccion__bgc
			.error__banda
				img(src=`${STATIC_URL}img/contruccion-ticket.png`)
			.error__wrap
				.error__content
					.error__logo
						img(src=`${STATIC_URL}img/logo-construccion.png`)
					.error__texto
						h2 Muy pronto, mejorando para ti
					.error__datos
						h3 (01) 4688643 -  933 733 652
						p informes@calidadconsultores.com.pe


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})