.header-oculto
	.header-cnt-list
		display: none
	.footer
		display: none
	.header-wrap
		display: none 
.error__contruccion__bgc
	background-image:  url(../img/pantalla-construccion.png)
	width: 100%
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	height: 100vh
	&:before
		content: ""
		position: absolute
		width: 100%
		height: 100%
		background:  linear-gradient(to right, #21548b  0%, rgba(128,186,245,1) 99%, rgba(128,186,245,1) 100%);
		left: 0
		top: 0
		opacity: 0.8
.error__banda
	width: 479px
	height: 281px
	position: absolute
	left: 0
	top: 0
.error__wrap
	position: relative
	z-index: 2
.error__content
	max-width: 960px
	margin: auto
	display: flex
	flex-direction: column
	justify-content: center
	height: 100vh
	align-items: flex-end
	padding-left: 10px
	padding-right: 10px
.error__logo
	width: 252px
	height: 84px
	img
		max-width: 100%
		height: auto
		display: block
.error__texto
	h2
		font-size: 60px
		color: #002d73
		font-family: $t-1
		max-width: 617px
		text-align: right
.error__datos
	h3
		color: white
		font-size: 35px
		text-align: right
		font-family: $t-0

	p
		font-size: 33px
		text-align: right
		font-family: $t-7
		color: white
@media screen and (max-width: 980px)
	.error__banda
		display: none
	.error__texto
		h2
			font-size: 45px
			max-width: 440px
	.error__datos
		h3
			font-size: 30px
		p
			font-size: 25px
@media screen and (max-width: 720px)
	.error__content
		align-items: center
	.error__contruccion__bgc
		background-position: right
	.error__texto
		h2
			text-align: center
			font-size: 40px
	.error__datos
		h3
			text-align: center
			font-size: 25px
		p
			text-align: center
			font-size: 20px
@media screen and (max-width: 480px)
	.error__texto
		padding-top: 5px
		padding-top: 10px
		h2
			text-align: center
			font-size: 25px
	.error__datos
		h3
			text-align: center
			font-size: 20px
		p
			text-align: center
			font-size: 16px