// BUTTONS
.btn-enlace
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	display: inline-block
	vertical-align: middle
	transform: perspective(1px) translateZ(0)
	position: relative
	transition-duration: 0.1s
	padding: 13px 50px 13px 30px
	&:before
		content: '\e93e'
		font-size: 10px
		font-family: $icomoon
		position: absolute
		right: 3em
		padding: 0px 1px
		transform: translateZ(0)
		transition-duration: 0.1s
		transition-property: transform
		transition-timing-function: ease-out
	@media screen and (min-width: 1025px)
		&:hover
			color: $blanco
			&:before
				transform: translateX(4px)
				color: $blanco

.btn-red
	background-color: $c-3
	color: $blanco

.btn-gray
	background-color: $c-1
	color: $blanco

.btn-productos
	width: 180px
	height: 44px
	line-height: 22px
	color: $c-0 
	background-color: $blanco
	display: inline-block
	vertical-align: middle
	-webkit-transform: perspective(1px) translateZ(0)
	transform: perspective(1px) translateZ(0)
	box-shadow: 0 0 1px transparent
	position: relative
	border-radius: 30px
	border-color: $c-0
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-3
			color: $blanco
			border-color: $c-3
			.text-btn
				color: $blanco
				opacity: 0
				transition-duration: 0.3s
				animation-name: hvr-icon-drop
				animation-duration: 0.5s
				animation-delay: 0.3s
				animation-fill-mode: forwards
				animation-timing-function: ease-in-out
				animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)

	.text-btn
		display: inline-block
		font-size: 13px
		font-family: $t-2
		text-transform: uppercase
		position: relative
		z-index: 1
		padding-right: 20px
		&:before
			content: '\e93e'
			position: absolute
			opacity: 1
			right: 0
			top: 0
			font-family: $icomoon
			transform: translateZ(0)
			font-size: 10px
			line-height: 2

+keyframes(hvr-icon-drop)
	0%
		opacity: 0
	50%
		opacity: 0
		transform: translateY(-100%)
	100%
		opacity: 1